#google-logo {
    display: block;
    margin: auto;
    padding-top: 10em;
    margin-bottom: 24px;
}

#search-elements {
    position: relative;
}

.search-bar {
    display: flex;
    
    margin: auto;
    border-radius: 50px;
    border-color: rgba(128, 128, 128, 30%);
    border-style: solid;
    border-width: 0.1px;
    box-sizing: border-box;
    width: 500px;
    height: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
}
.search-bar:hover {
    border-color: transparent;
    box-shadow: 0px 0px 3px 3px rgba(128, 128, 128, 20%);
}

#search-box {
    width: 400px;
    height: 40px;
    position: absolute;
    left: 50px;
    background: transparent;
    box-sizing: border-box;
    font-family: arial,sans-serif;
    font-size: 16px;
    border-style: inherit;
}

input#search-box:focus { 
    outline: transparent;
}

#search-icon-container {   
    position: absolute;
    left: 15px;
    top: 12px;
}

.search-icon {
    display: block;
    height: 15px;
    width: 15px;
    margin: auto;
}


.buttons {
    padding-top: 27px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}
.button:hover {
    /* border: solid gray ; */
    box-shadow: 0px 0px 0px 1px rgba(128, 128, 128, 20%);
}

.button {
    background-color: #f8f9fa;
    /*background-color: hsl(0, 35%, 57%); */
    border-color: gray;
    border-width: 0.5px;
    border: solid transparent;
    border-radius: 2px;
    padding: -1px 15px;
    text-align: center;
    font-size: 11px;
}

p a {
    color: #3c4043;
    font-family: Arial, sans-serif;
}

#top-links {
    display: flex;
    flex-direction: row;
    
}
/*
#move-me {
    float: bottom;
    box-shadow: 2px, 2px, 2px, 2px, black;
    background-color: blue;
    padding: 25px;
    margin: -25px;
    width: 100%;
    margin-top: auto;
}

#center-me {
    text-align: center;
    margin: auto;
}
*/