#google-logo {
    display: block;
    margin: auto;
    padding-top: 10em;
    margin-bottom: 24px;
}

.search-bar {
    display: flex;
    margin: auto;
    border-radius: 50px;
    border-color: rgba(128, 128, 128, 30%);
    border-style: solid;
    border-width: 0.1px;
    box-sizing: border-box;
    width: 500px;
    height: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
}
.search-bar:hover {
    border-color: transparent;
    box-shadow: 0px 0px 3px 3px rgba(128, 128, 128, 20%);
}

#search-box {
    width: 400px;
    height: 40px;
    position: absolute;
    left: 50px;
    background: transparent;
    box-sizing: border-box;
    font-family: arial,sans-serif;
    font-size: 16px;
    border-style: inherit;
}

input#search-box:focus { 
    outline: transparent;
}

#search-icon-container {   
    position: absolute;
    left: 15px;
    top: 12px;
}

.search-icon {
    display: block;
    height: 15px;
    width: 15px;
    margin: auto;
}


.buttons {
    padding-top: 27px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    font-size: 16px;
    box-sizing: border-box;
}

.button {
    -webkit-appearance: none;
    background-color: #f8f9fa;
    border: solid transparent;
    box-sizing: border-box;
    border-width: 0.5px;
    border-radius: 5px;
    text-align: center;
    text-justify: auto;
    height: 35px;
    width: auto;
}

.button:hover {
    box-sizing: inherit;
    border: solid rgba(128, 128, 128, 25%);
    border-width: 0.5px;
    box-shadow: 0px 0px 0px 0.5px rgba(128, 128, 128, 20%);
}

.top-links a {
    text-decoration: none;
    color: black;
}
.top-links a:link {
    text-decoration: none;
    color:black;
}

.top-links a:visited {
    text-decoration: none;
    color:black;
}

.top-links a:active {
    text-decoration: none;
    color:black;
}

.top-links a:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

.top-links {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: black;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    flex-flow: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

#about {
    justify-content: left;
    margin: 14px;
}

#store {
    justify-content: left;
} 


#gmail {
    justify-content: right;
    margin: 14px;
}

#images {
    justify-content: right;
    margin-right: 20px;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;    
}

#search-area {
    flex: 1;
    box-sizing: border-box;
}

footer {
    background-color: #f2f2f2;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #70757a;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-end;
    min-height: 0;
}

.bottom-links {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 10px;
}

.carbon-neutral {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
}

#advertising {
    margin: 15px;
}

#business {
    margin: 15px;
}

#how-search-works {
    margin: 15px;
}

#privacy {
    margin: 15px;
}

#terms {
    margin: 15px;
}

#settings {
    margin: 15px;
}

.bottom-nav a {
    text-decoration: none;
    color: #70757a;
}
.bottom-nav a:link {
    text-decoration: none;
    color:#70757a;
}

.bottom-nav a:visited {
    text-decoration: none;
    color:#70757a;
}

.bottom-nav a:active {
    text-decoration: none;
    color:#70757a;
}

.bottom-nav a:hover {
    text-decoration: underline;
    text-decoration-color: #70757a;
}